@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::selection {
    background-color: #fff; /* Custom background color */
    color: #000; /* Custom text color */
  }
}

body {
  color: #000; 
  background: #fff; 
  font-family: Arial, Helvetica, sans-serif;
}
